* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* NAVBAR */

.navbar {
    background-color: #1f2937;
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .logo {
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
}

.nav-right-links ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.nav-right-links a {
    text-decoration: none;
    color: #fff;
}

/* HERO SECTION */

.hero-section {
    background-color: #1f2937;
    color: #fff;
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 100px 0;
}

.hero-section .container .hero-left-section,
.hero-section .container .hero-right-section {
    flex: 1;
}

.hero-section .container .hero-big-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
}

.hero-section .container .signup-button {
    font-size: larger;
    font-weight: bold;
    background-color: #3882f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
}

.hero-section .container .hero-right-section {
    border: 1px solid #fff;
    background-color: grey;
}


/* SECTION SHOWCASE */

.section-showcase {
    background-color: #fff;
}

.section-showcase .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 80px 0;
    /* border: 1px solid black; */
}

.section-showcase .container .container-cards {
    display: flex;
    margin: 20px 70px;
    max-width: 900px;
    gap: 40px;

}

.section-showcase .container .section-showcase-title {
    font-size: 30px;
    font-weight: bold;
}

.section-showcase .container .container-cards .card {
    flex: 1;
    /* height: auto; */
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* border: 1px solid blue; */
}

.card .card-image {
    height: 180px;
    width: 180px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.card .card-text {
    /* border: 1px solid black; */
    text-align: center;
    width: 180px;
}



/* SECTION QUOTE */

.section-quote {
    background-color: #e5e7eb;
    padding: 80px 0;
}

.section-quote .container {
    max-width: 840px;
    display: flex;
    flex-direction: column;
}

.section-quote .container .quote-text {
    font-size: 36px;
    font-weight:300;
    font-style: italic;
    margin-bottom: 0;
}

.section-quote .container .author {
    margin-left: auto;
    font-size: 25px;
    font-weight: bold;
}


