* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* NAVBAR */

.navbar {
    background-color: #1f2937;
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .logo {
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
}

.nav-right-links ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.nav-right-links a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.nav-right-links a:hover {
    color: #3882f6;
}

/* HERO SECTION */

.hero-section {
    background-color: #1f2937;
    color: #fff;
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 500px;
    padding: 100px 0;
}

.hero-section .container .hero-left-section,
.hero-section .container .hero-right-section {
    flex: 1;
}

.hero-section .container .hero-big-title {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0;
}

.hero-section .container .signup-button {
    font-size: larger;
    font-weight: bold;
    background-color: #3882f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
}

.hero-section .container .hero-right-section {
    width: 100%;
    /* border: 1px solid #fff; */
    /* background-color: grey; */
    display: flex;
}

.hero-right-section img {
    flex: 1;
    max-width: 100%;
    max-height: auto;
    object-fit:cover;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
}


/* SECTION SHOWCASE */

.section-showcase {
    background-color: #fff;
}

.section-showcase .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 80px 0;
    /* border: 1px solid black; */
}

.section-showcase .container .container-cards {
    display: flex;
    margin: 20px 70px;
    max-width: 900px;
    gap: 40px;

}

.section-showcase .container .section-showcase-title {
    font-size: 30px;
    font-weight: bold;
}

.section-showcase .container .container-cards .card {
    flex: 1;
    /* height: auto; */
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.3);
    /* border: 1px solid blue; */
    transition: 1s;
}

.card:hover {
    transform: scale(1.1);
}

.card .card-image {
    display: flex;
    height: 180px;
    width: 180px;
    /* border: 3px solid #3882f6; */
    /* border-radius: 10px; */
}

.card .card-image img {
    flex: 1;
    object-fit: cover;
    max-width: 100%;
    max-height: auto;
    border-radius: 7px;
}

.card .card-text {
    /* border: 1px solid black; */
    text-align: center;
    width: 180px;
}



/* SECTION QUOTE */

.section-quote {
    background-color: #e5e7eb;
    padding: 80px 0;
}

.section-quote .container {
    max-width: 840px;
    display: flex;
    flex-direction: column;
}

.section-quote .container .quote-text {
    font-size: 36px;
    font-weight:300;
    font-style: italic;
    margin-bottom: 0;
}

.section-quote .container .author {
    margin-left: auto;
    font-size: 25px;
    font-weight: bold;
}


/* CALL TO ACTION */

.call-to-action {
    background-color: #fff;
    padding: 80px 0;
}

.call-to-action .container {
    background-color: #3882f6;
    padding: 50px 0;
    border-radius: 10px;
    margin: 0 auto;
}

.container-text-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 840px;
    margin: 0 auto;
}

.container-text-and-button .call-to-action-left {
    color: #fff;
}

.call-to-action-title {
    font-size: 30px;
}

.call-to-action-subtext {
    font-size: 20px;
}

.call-to-action-title, 
.call-to-action-subtext{
    margin: 0;

}

.call-to-action-button {
    background-color: #3882f6;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: bold;
}


/* FOOTER */


.footer-body {
    background-color: #1f2937;
}

.footer-body .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.footer-body .copyright-text {
    font-size: 25px;
}

.social-media-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-links h5 {
    font-size: 30px;
    margin: 15px 0;
}

.footer-body ul {
    display:  flex;
    gap: 30px;
    padding-left: 0;
    
}

.footer-body ul li {
    font-size: 18px;
    list-style-type: none;
}

.footer-body ul li .fa-brands {
    margin-right: 5px;
}


/* ANIMATION */

@keyframes flow-card {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes unflow-card {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
    
}